{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Budgetlite</title>
  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'budgetlite/main.css' %}">
</head>

<body>
    <h1>FUNCIONOOOOOU <br> (e com o css :D )</h1>

    {%for despesa in despesas%}
      <div>
        <h3>{{despesa.obs}}</h3>
        <p>valor: {{despesa.valor}}</p>
        <p>tag: {{despesa.tag}}</p>
        <p>data: {{despesa.data}}</p>
        <p>conta: {{despesa.conta}}</p>
      </div>>
    {%endfor%}
</body>
